<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.houoy.cms.dao.ImageMapper">
    <sql id="ifWhere">
        <if test="pk_folder != null and pk_folder !=''">
            pk_folder = #{pk_folder}
        </if>
        <if test="image_code!=null and image_code!=''">
            and image_code like "%${image_code}%"
        </if>
        <if test="image_name != null and image_name !=''">
            and image_name like "%${image_name}%"
        </if>
    </sql>
    <select id="retrieveByPK" resultType="java.util.Map">

    </select>
    <select id="retrieveAll" resultType="java.util.Map">

    </select>
    <select id="retrieveAllCount" resultType="java.lang.Long">
        select count(*) from cms_image
        <where>
            <include refid="ifWhere"/>
        </where>
    </select>
    <select id="retrieveAllWithPage" resultType="com.houoy.cms.vo.ImageVO">
        select * from cms_image
        <where>
            <include refid="ifWhere"/>
        </where>
        <if test="orderColumnName !=null and orderDir !=null and start !=null and length !=null" >
            order by
            ${orderColumnName} ${orderDir}
            limit
            #{start},#{length}
        </if>
    </select>

    <insert id="saveByVO" parameterType="com.houoy.cms.vo.ImageVO">
        insert into cms_image(image_code,image_name,pk_folder,path)
        values
        (#{image_code},#{image_name},#{pk_folder},#{path})
    </insert>

    <update id="updateByVO">
        update cms_image
        <trim prefix="SET" suffixOverrides=",">
            <if test="image_code != null">image_code=#{image_code},</if>
            <if test="image_name != null">image_name=#{image_name},</if>
            <if test="pk_folder != null">pk_folder=#{pk_folder}</if>
        </trim>

        where pk_image=#{pk_image}
    </update>

    <delete id="deleteByPK">
        delete from cms_image where pk_image=#{pk_image}
    </delete>

    <delete id="deleteByPKs" parameterType="java.util.List">
        delete from cms_image where
        <foreach collection="list" item="item" index="index"
                 open="(" separator="or" close=")">
            pk_image = #{item}
        </foreach>
    </delete>

</mapper>

