<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.houoy.cms.dao.VideoMapper">
    <select id="retrieveByPK" resultType="java.util.Map">

    </select>
    <select id="retrieveAll" resultType="java.util.Map">

    </select>
    <select id="retrieveAllCount" resultType="java.lang.Long">
        select count(*) from cms_video
    </select>
    <select id="retrieveAllWithPage" resultType="com.houoy.cms.vo.VideoVO">
        select * from cms_video
        <where>
            <if test="pk_folder != null and pk_folder !=''">
                pk_folder = #{pk_folder}
            </if>
            <if test="video_code!=null and video_code!=''">
                and video_code like "%${video_code}%"
            </if>
            <if test="video_name != null and video_name !=''">
                and video_name like "%${video_name}%"
            </if>
            <if test="video_desc != null and video_desc !=''">
                and video_desc like "%${video_desc}%"
            </if>
            <if test="video_length != null and video_length !=''">
                and video_length like "%${video_length}%"
            </if>
            <if test="video_size != null and video_size !=''">
                and video_size like "%${video_size}%"
            </if>
            <if test="path != null and path !=''">
                and path = "${path}"
            </if>
        </where>
        <if test="orderColumnName !=null and orderDir !=null and start !=null and length !=null" >
            order by
            ${orderColumnName} ${orderDir}
            limit
            #{start},#{length}
        </if>
    </select>

    <insert id="saveByVO" parameterType="com.houoy.cms.vo.VideoVO">
        insert into cms_video(video_code,video_name,video_desc,video_length,video_size,pk_folder,path,actor_times,actor_calorie,path_thumbnail)
        values
        (#{video_code},#{video_name},#{video_desc},#{video_length},#{video_size},#{pk_folder},#{path},#{actor_times},#{actor_calorie},#{path_thumbnail})
    </insert>

    <update id="updateByVO">
        update cms_video
        <trim prefix="SET" suffixOverrides=",">
            <if test="video_code != null">video_code=#{video_code},</if>
            <if test="video_name != null">video_name=#{video_name},</if>
            <if test="video_desc != null">video_desc=#{video_desc},</if>
            <if test="video_length != null">video_length=#{video_length},</if>
            <if test="video_size != null">video_size=#{video_size},</if>
            <if test="actor_times != null">actor_times=#{actor_times},</if>
            <if test="actor_calorie != null">actor_calorie=#{actor_calorie},</if>
            <if test="path_thumbnail != null">path_thumbnail=#{path_thumbnail},</if>
            <if test="path != null">path=#{path},</if>
            <if test="pk_folder != null">pk_folder=#{pk_folder}</if>
        </trim>

        where pk_video=#{pk_video}
    </update>

    <delete id="deleteByPK">
        delete from cms_video where pk_video=#{pk_video}
    </delete>

    <delete id="deleteByPKs" parameterType="java.util.List">
        delete from cms_video where
        <foreach collection="list" item="item" index="index"
                 open="(" separator="or" close=")">
            pk_video = #{item}
        </foreach>
    </delete>

</mapper>

